.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
  height: 50px;
  color: #333;
}

.header .logo {
  font-size: 24px;
  font-weight: bold;
  color: #2e8b57;
}

.mobile-actions {
  display: none;
}

.search-container {
  display: flex;
  align-items: stretch;
  width: 100%;
  max-width: 600px;
  margin: 10px 0;
  height: 40px;
}

.category-select {
  padding: 0 10px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
  border-right: none;
  background-color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  color: #333;
}

.search-input {
  flex: 1;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
  font-size: 14px;
}

.search-button {
  padding: 0 15px;
  background-color: #2e8b57;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.nav-items {
  display: flex;
  gap: 20px;
}
.cartbtn{
  background-color: #2e8b57;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
.cartbtn:hover{
  background-color: #226941;
}
.nav-item {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.nav-text {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  border: none;
}

.login-text {
  font-weight: bold;
}

.mobile-action-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

@media (max-width: 768px) {
  .header {
    padding: 10px;
  }

  .mobile-actions {
    display: flex;
    gap: 10px;
  }

  .nav-items {
    display: none;
  }

  .top-row {
    justify-content: space-between;
  }

  .search-container {
    order: 1;
    margin-top: 10px;
  }

  .category-select {
    display: none;
  }

  .search-input {
    border-left: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
  }
}
@media (max-width: 782px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .top-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #2e8b57;
  }

  .mobile-actions {
    display: flex;
    gap: 10px;
    order: 2;
  }

  .search-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
    
  }

  .search-input{
    width: 100%;
    border-radius: 5px 0 0 5px;
    height: 35px;
    border: 1px solid #ccc;
    border-right: none;
    
  }
  .search-button {
    width: 16%;
    height: 37px;
    border-radius: 0 5px 5px 0;
    margin-right: 0.5rem;
    
  }

}

