.slider-container {
  max-width: 77.5rem;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.main-slide {
  position: relative;
  background-color: #e6f7f2;
  height: 25rem;
  display: flex;
  overflow: hidden;
}

.slide-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.main-image {
  width: 50%;
  flex: 1 0 50%;
  margin: 10px;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.dots {
  display: flex;
  margin: 0 10px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}
