.slider-container {
    max-width: 1200px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  .main-slide {
    position: relative;
    background-color: #e6f7f2;
    height: 400px;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
  }
  img{
    width: 50%;
    margin: 10px;
  }
  .content {
    text-align: center;
    width: 50%;
    padding: 10px;
    margin:10px ;
    color: #333;
    max-width: 40%;
    background-color:white;
  }
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  h3 {
    font-size: 36px;
    color: #2e8b57;
    margin-bottom: 20px;
  }
  .shop-now {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .dots {
    display: flex;
    margin: 0 10px;
  }
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
  }
  .dot.active {
    background-color: #333;
  }